
SwitchApp.xcodeproj/xcuserdata/sassembla.xcuserdatad/xcschemes/xcschememanagement.plist

SwitchApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata

SwitchApp.xcodeproj/project.xcworkspace/xcuserdata/sassembla.xcuserdatad/UserInterfaceState.xcuserstate

SwitchApp.xcodeproj/xcuserdata/sassembla.xcuserdatad/xcschemes/SwitchApp.xcscheme
